@import "tailwindcss";

@layer components {
  .container {
    @apply w-full mx-auto 
      max-w-[640px]
      sm:max-w-[768px]
      md:max-w-[1024px]
      lg:max-w-[1280px]
      xl:max-w-[1440px];
  }
}

/* Works in Chrome, Edge, Safari */
.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #e5e7eb; /* light gray */
  border-radius: 9999px;
  transition: background-color 0.2s ease;
}

/* Hover on container → change scrollbar color */
.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #6366f1; /* indigo */
}

.scrollbar:hover::-webkit-scrollbar-thumb:hover {
  background-color: #4f46e5; /* darker indigo */
}

/* Firefox */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #e5e7eb transparent;
}

.scrollbar:hover {
  /* scrollbar-color: #6366f1 transparent; */
  scrollbar-color: #b3afeb transparent;
}