@import "tailwindcss";

@layer components {
  .container {
    @apply w-full mx-auto 
      max-w-[640px]
      sm:max-w-[768px]
      md:max-w-[1024px]
      lg:max-w-[1280px]
      xl:max-w-[1440px];
  }
}

/* Works in Chrome, Edge, Safari */
.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5f5; /* light indigo */
  border-radius: 9999px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #818cf8; /* darker on hover */
}

/* Firefox */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #cbd5f5 transparent;
}